body{
  background: linear-gradient(to right, #3525af, #9153c9);

}

.App {
  text-align: center;
  height:500px;
  
}

.mydiv{
  display: flex;
  justify-content: space-around;
  margin: 10px 7%;
  box-shadow: 1px 1px 5px grey;
  background-color: gray;
  padding: 10px;
  font-size: 30px;
  
}
.font{
  font-size: 100px;
}
.send{
  font-size: 20px;
  width:100px;
  
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  

}

.item{
  width:30%;
  margin:15px;
}